[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
channels-redis = "*"
channels = "*"
aioredis = "*"
asgiref = "*"
astroid = "*"
async-timeout = "*"
attrs = "*"
autobahn = "*"
certifi = "*"
chardet = "*"
constantly = "*"
daphne = "*"
defusedxml = "*"
django-allauth = "*"
django-cors-headers = "*"
django-rest-auth = "*"
django-rest-framework = "*"
djangorestframework = "*"
hiredis = "*"
hyperlink = "*"
idna = "*"
incremental = "*"
isort = "*"
lazy-object-proxy = "*"
mccabe = "*"
msgpack = "*"
oauthlib = "*"
pylint = "*"
python3-openid = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
six = "*"
txaio = "*"
typed-ast = "*"
urllib3 = "*"
wrapt = "*"
"zope.interface" = "*"
Django = "*"
Automat = "*"
PyHamcrest = "*"
Twisted = "*"

[requires]
python_version = "3.8"
